html {
  height: 100vh;
}
body {
  background: #FFFFFF;
  height:100%;
}

h1 {
  font-family: 'Leckerli One', cursive;
}

h2, h3, h4, h5, h6, p, a, li {
  font-family: 'Lato', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  font-size: 1em;
}