//Large Nav
 .pr-nav-lg {
   display: none;
   background: #ff4b2e;

 }

.pr-nav-lg ul {
  list-style: none;
  display: flex;
  width: 100%;
}

.pr-nav-lg li {
  display: flex;
  flex: 1 1 auto;
}

.pr-nav-lg a {
  color: white;
  flex: 1 1 auto;
  padding: 5px;
  font-size: 2em;
  align-self: center;
}

.pr-nav-lg h1 {
  font-family: 'Leckerli One', cursive;
  font-size: 1.5em;
}

//Brand Bar
.brand {
  background: #ff4b2e;
  height: 20%;
}


.brand h3 {
  font-family: 'Leckerli One', cursive;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 5px;

}

//Footer Navigation

.pr-content {
  flex: 1 1 auto;
  overflow-y: scroll;
}

.pr-nav {
  bottom: 0;
  margin-bottom: 0;
  position: absolute;
  width: 100%;
  border-top:#acacac 1px solid;
  background: #ffffff;
  flex: 0 0 auto;
  z-index: 999;
}

.pr-nav ul {
  display: flex;
}

.pr-nav li {
  list-style: none;
  flex: 1 1 auto;
  padding-top: 10px;

}

.pr-nav i {
  font-size: 2.5em;
  color: #acacac;
}

.pr-nav .active i{
  color: #ff4b2e;
}



@media  (min-width: 725px) {
  .brand {
    display: none;
  }

  .pr-nav {
    display: none;
  }

  .pr-nav-lg {
    display: flex;
  }

  .pr-nav-lg .active a{
    text-decoration: underline;
  }


  .pr-content {
    flex: 1;
  }

  footer {
    height: 100px;
  }
  footer .pr-nav-lg {
    width: 100%;
    }

    footer ul {
      padding: 0;
    }

  .footer-logo {
    margin: 0;
  }

  .footer-info {
    color: #FFFFFF;
    align-self: center;
  }

  .footer-info i {
    padding: 1%;
  }

}