
//Desktop
@media only screen and (min-width: 800px) {
  #header-mobile {
    display: none;
  }

  #nav-mobile {
    display: none;
  }

  .l-nav-mobile {
    display: none;
  }

  #large-sidebar {
    float: left;
    width: 25%;
    min-height: 100%;
    position: relative;
    display: flex;
    background: rgba(255, 75, 46, .05);
  }

  .l-brand {
    text-align: center;
  }

  .l-subtitle {
    margin-bottom: 20%;
  }

  .l-nav {
    width: 100%;
  }

  .l-nav h1 {
    color: #ff4b2e;
    margin: 20px 0 0;
  }

  .l-nav ul {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }

  .l-nav-li {
    display: flex;
    flex-direction: column;
    margin: 0 0 20% 5%;
  }

  .l-nav-li > a {
    color: #ff4b2e;
    font-size: 1.4em;
    font-weight: 500;
    padding: 5px;
  }

  .l-nav-li > a:hover {
    cursor: pointer;
    background: rgba(255, 75, 46, .2);
  }

  .l-dropdown-content {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
  }

  .l-dropdown-content a {
    padding: 5px;
    font-weight: normal;
    color: #3f3f3f;
    font-size: 1.2em;
  }

  .l-dropdown-content a:hover {
    cursor: pointer;
    background: rgba(255, 75, 46, .2);
  }

  .active  {
    background: #FFFFFF;
  }

}

//Mobile

@media only screen and (max-width: 799px) {
  #large-sidebar {
    display: none;
  }

  .l-nav {
    display: none;
  }

  #nav-mobile {
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
    display: flex;
    width: 100%;
    z-index: 9999;
  }

  .l-nav-mobile {
    width: 100%;
    background: #F5F5F5;
    border-top: 1px solid #acacac;
  }


  .l-nav-ul {
    display: flex;
    margin: 10px;
  }

  .l-nav-ul > li {
    flex: 1 1 auto;
    text-align: center;
  }

  .l-nav-ul  a {
    font-size: 2em;
    color: #acacac;
  }

  .active > a {
    color: #ff4b2e;
  }

  .mini-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }

  .mini-nav ul {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 0;
  }

  .mini-nav li {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid #ff4b2e;
    font-size: 1.4em;
    color: #ff4b2e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 2%;
    text-align: center;
  }

  .mini-nav a {
    color: #ff4b2e;
    text-align: center;
  }

  .mini-delete {
    display: flex;
    justify-content: center;
  }
}
