.spark-screen {
    form h2 {
        background-color: $panel-default-heading-bg;
        border-radius: $border-radius-base;
        font-size: 14px;
        font-weight: normal;
        margin-top: 0;
        margin-bottom: 15px;
        padding: 12px;
    }
}

.control-label {
	font-weight: normal;
}

.radio label, .checkbox label {
	font-weight: normal;
}
