//Desktop

@media only screen and (min-width: 800px) {


  .lists-wrapper {
    width: 85%;
    margin: 0 auto;
  }

  .list {
    background: #FFF2ED;
    padding: 2%;
    color: #ff4b2e;
    margin-bottom: 5px;
  }

  .list a {
    color: #3f3f3f;
    font-size: 1.2em;
    font-weight: normal;
  }

  .list:hover {
    background: rgba(255, 75, 46, .2);
    cursor: pointer;
  }
}

//Mobile

@media only screen and (max-width: 799px) {


  .lists-wrapper {
    width: 85%;
    margin: 0 auto;
  }

  .list {
    background: #FFF2ED;
    padding: 2%;
    color: #ff4b2e;
    margin-bottom: 5px;
  }

  .list a {
    color: #3f3f3f;
    font-size: 1.2em;
    font-weight: normal;
  }

  .list:hover {
    background: rgba(255, 75, 46, .2);
    cursor: pointer;
  }
}
