.category-wrapper {
  width: 85%;
  margin: 0 auto;
}

.category:last-of-type {
  margin-bottom: 20%;
}

.category {
  list-style: none;
  padding: 0;

}

.category-title {
  background: #ff4b2e;
}

.category h3 {
  color: white;
  margin-bottom: 0;
  padding: 5px;
}

.recipes {
  list-style: none;
  font-size: 1.75em;
  font-weight: lighter;
  padding: 0;
}

.recipes li {
  background: rgba(225,75,46,.10);
  margin-bottom: 2px;
  line-height: 40px;
}

.recipes a {
  color: #3f3f3f;
  padding-left: 15px;
  font-size: 1.2em;
  opacity: .8;
}

//Checkbox Styling

 input[type="checkbox"]{
  margin: 5px;
}

.control {
  font-size: 18px;
  position: relative;
  display: block;
  margin-bottom: 15px;
  padding-left: 30px;
  cursor: pointer;

}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control__indicator {
  position: absolute;
  top: 5px;
  left: 0;
  width: 30px;
  height: 30px;
  background: #fff;
  margin-left: 5px;
  -webkit-box-shadow: inset -3px 3px 13px 0px rgba(50, 50, 50, 0.81);
  -moz-box-shadow: inset -3px 3px 13px 0px rgba(50, 50, 50, 0.81);
  box-shadow: inset -3px 3px 13px 0px rgba(50, 50, 50, 0.2);
  border-radius: 5px;
}

/* Hover and focus states */
.control:hover input ~ .control__indicator {
  cursor: pointer;
}

/* Checked state */
.control input:checked ~ .control__indicator {
  background: #ff4b2e;
}




/* Check mark */
.control__indicator:after {
  position: absolute;
  display: none;
  content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
  display: block;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
  top: -5px;
  left: 1px;
  font-family: FontAwesome;
  content: "\f00c";
  font-size: 1.5em;
  color: #ffffff;
}


