
.pr-button {
  width:80%;
  padding: 5%;
  background: #ff4b2e;
  border-radius: 10px;
  border-bottom: #fc907e 3px solid;
  border-top:none;
  border-right:none;
  border-left: none;
  margin: 10% 0;
  flex: 1 1 auto;
  color: white;
  font-size: 1em;
}

.add-recipe-buttons {
  display: flex;
}

.add-recipe-buttons .pr-button {
  margin: 5%;
}

.add-recipe-buttons i {
  text-align: center;
  align-self: center;
  margin: 0 10px;
}


@media  (min-width: 725px) {
  .pr-button {
    max-width: 40%;
    padding: 2%;
  }
}