.create-list {
  width: 85%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.create-list label {
  margin-left:5px ;
}

.create-list input {
  border: 1px #acacac solid;
  border-radius: 5px;
  line-height: 1.5em;
  font-size: 1.3em;
  color: #3f3f3f;
  font-weight: lighter;
  padding-left: 3px;
  width: 100%;
}

.create-list a {
  width: 100%;
  font-size: 1.8em;
  color: #ff4b2e;
  display: block;
  margin: 10px 5px;
}

.recipes-added {
  display: flex;
  flex-wrap: wrap;
}

.recipes-added p {
  background: #ff4b2e;
  border-radius: 5px;
  color: #ffffff;
  padding: 3px;
  margin-left:5px ;
}

.recipes-added a {
  display: inline;
  color: #ffffff;
  font-size: 1em;
}


.items-inputs {
  display: flex;
  width: 100%;

}

.items-inputs div {
  flex: 1 1 auto;
  margin: 0 5px 2px 5px;
}

.create-list .category-wrapper {
  width: 100%;
}

.create-list .category-title h3{
  font-size: 1.75em;
}

.create-list .list-items{
  font-size: 1.5em;
}

.create-list .list-items a {
  font-size: 1em;
  text-align: right;
  display: inline-block;

}

.create-list .category:last-of-type{
  margin-bottom: 0;
}

.create-list .save-button {
  margin-bottom: 15%;
}

.create-list .save-button .pr-button {
  font-size: 2em;
}

.choose-recipe .category {
  margin-bottom: 10%;
}

.choose-recipe .save-button {
  font-size: 1.5em;
  margin-bottom: 20%;
}

.checkbox {
  width: 20px;
  height: 20px;
  font-weight: bolder;
  display: inline;
}

.add-wrapper {
  display: flex;
}

.add-button {
  border: #ff4b2e solid 3px;
  color: #ff4b2e;
  text-align: center;
  align-self: flex-end;
  background: #ffffff;
  border-radius: 5px;
  padding: 6px 10px;
  font-weight: bold;
}


.item-categories select {
  width: 100%;
  flex: 1;
  border: 1px #acacac solid;
  font-size: 1.3em;
  color: #3f3f3f;
  font-weight: lighter;
  background: #FFFFFF;
  margin-right: 10px;
  align-self: flex-end;
  border-radius: 5px;
  height: 30px;
}

.dept-label {
  height: 20px;
}

.add-recipe-options label {
  margin: 0;
}

.remove-item {
  float: right;
  margin-right: 5%;
  color: #ff4b2e;
  font-weight: bold;
}
