//Desktop

@media only screen and (min-width: 800px) {
  .grocery-list-wrapper {
    width: 100%;
    min-height: 100%;
  }

  .list-edit-large {
    color: #ff4b2e;
    font-size: .75em;
  }

  .list-edit-large:hover {
    color: #d44331;
    font-size: .85em;
    cursor: pointer;
  }

  .centering-buttons {
    display: flex;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
  }

  .toggle {
    padding: 5px;
    border-radius: 3px;
    margin-right: 3px;
    color: #FFFFFF;
    cursor: pointer;
  }

  .toggle-active {
    background: #ff4b2e;
    border-bottom: #D44331 2px solid;
  }

  .toggle-inactive {
    background: #FF5B46;
    border-bottom: #d44331 4px solid;
  }


  .toggle-inactive:hover {
    background: #ff4b2e;
    border-bottom: #d44331 3px solid;
  }

  .list-item {
    background: #FFF2ED;
    margin-bottom: 3px;
    color: #3f3f3f;
    padding: 5px 5px 5px 10px;
    font-size: 1.2em;
    font-weight: 300;
  }

  .print-btn {
    padding: 5px;
    border-radius: 3px;
    color: #FFFFFF;
    cursor: pointer;
    background: #FF5B46;
    border-bottom: #d44331 4px solid;
    border-top:none;
    border-left: none;
    border-right: none;
    width: 10%;
    margin: 2% auto 15%;
    display: block;
  }

  .print-btn:hover {
    background: #ff4b2e;
    border-bottom: #d44331 3px solid;
  }

  .darker-remove {
    color: rgba(63, 63, 63, .4);
    display: flex;
    flex: 1 1 auto;
    align-content: center;
  }

  .darker-remove:hover {
    color: #ff4b2e;
  }

  .pr-button {
    width: 20%;
    text-align: center;
  }

}

//Mobile
@media only screen and (max-width: 799px) {
  .list-edit-large {
    display: none;
  }

  .mini-nav {
    display: flex;
  }

  .centering-buttons {
    display: flex;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;

  }

  .toggle {
    padding: 5px;
    border-radius: 3px;
    margin-right: 3px;
    color: #FFFFFF;
    cursor: pointer;
  }

  .toggle-active {
    background: #ff4b2e;
    border-bottom: #D44331 2px solid;
  }

  .toggle-inactive {
    background: #FF5B46;
    border-bottom: #d44331 4px solid;
  }


  .toggle-inactive:hover {
    background: #ff4b2e;
    border-bottom: #d44331 3px solid;
  }

  .list-item {
    background: #FFF2ED;
    margin-bottom: 3px;
    color: #3f3f3f;
    padding: 5px 5px 5px 10px;
    font-size: 1.2em;
    font-weight: 300;
  }

  .category-wrapper:last-of-type {
    margin-bottom: 20%;
  }

  .print-btn {
    display: none;
  }

  .darker-remove {
    color: #ff4b2e;
    display: flex;
    flex: 1 1 auto;
    align-content: center;
  }

  .pr-button {
    width: 20%;
    text-align: center;
  }

}

.print-checkbox {
  display: none;
}

