.grocery-list-wrapper .mini-nav ul {
  width: 65%;
}

.list-nav li {
  margin: 12px;
}

.list-view-toggle {
  display: flex;
  justify-content: center;
}

.list-view-toggle a {
  color: #ffffff;
  font-size: 1.3em;
  padding: 5px;
  text-align: center;
  margin-right: 2px;

}

.list-view-toggle .toggle-active {
  background:#fb6e58;
  -webkit-box-shadow: inset 0px -4px 5px 0px rgba(255,75,46,1);
  -moz-box-shadow: inset 0px -4px 5px 0px rgba(255,75,46,1);
  box-shadow: inset 0px -4px 5px 0px rgba(255,75,46,1);
  border-radius: 5px 0 0 5px;
}

.list-view-toggle .toggle-inactive {
  background: #ff4b2e;
  border-radius: 0 5px 5px 0;
}

.grocery-list-wrapper .category-title h3{
  font-size: 2em;
}

.grocery-list-wrapper .recipes li {
  padding-left: 5px;
}

