.home {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.home-buttons, .home-lists {
  flex: 1 1 auto;
}

.home-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
}


.pr-button > a {
  color: white;
  font-size: 2.25em;
  min-width: 100%;
}

.home-lists {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.home-lists h3 a {
  color: #ff4b2e;
}

.home-lists i {
  font-size: .8em;
  color: #acacac;
}

.home-lists .pr-button {
  text-align: center;
  width: 65%;
  margin: 5% auto;
  color: white;
  font-size: 2em;
}


@media  (min-width: 725px) {
  .home {
    width: 85%;
    justify-content: center;
  }

  .home-buttons {
    min-width: 100%;

  }

  .pr-button--home {
    margin: 8%;
  }


  .home-lists {
    width: 50%;
  }

  .pr-button--home-lists {
    width: 50%;
  }

}