.manage-wrapper {
  width: 85%;
  margin: 0 auto;
}

.manage-form {
  display: flex;
  flex-direction: column;
}

.items-to-add {
  list-style: none;
  text-align: center;
  padding: 0;
  font-family: lato, sans-serif;
  font-size: 1.2em;
  color: #3f3f3f;
  font-weight: lighter;
}

.manage-button {
  width: 60%;
  font-size: 2em;
  margin: 10px auto 20% auto;
  padding: 2%;
}