

.signin-header {
  display: flex;
  background: #FFFFFF;
  align-items: center;
}

.signin-header > a, h1 {
  flex: 1 1 auto;
  text-align: center;
}

.signin-header h1 {
  font-family: 'Leckerli One', cursive;
  font-size: 2em;
  color: #ff4b2e;
}

.signin-header a {
  color: #3f3f3f;
  margin: 20px 0 10px;
}

.signin-form {
  background: rgba(255,75,46,.10);
  display: flex;
  flex-direction: column;
}

.signin-form .form-group {
  margin: 25px;
  padding-top: 10px;
}

.signin-form label {
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  color: #3f3f3f;
}

.signin-form input {
  margin: 0;
}

.signin-form a {
  color: #ff4b2e;
}

.login-button {
  margin: 0 auto;
  display: flex;
}

.login-button .pr-button {
  font-size: 1.5em;
  margin-top: 10px;
}

@media  (min-width: 725px) {
  .login-button {
    justify-content: center;
  }
}